@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');
@import "tailwindcss";
@import "tw-animate-css";


@font-face {
  font-family: 'Chor';
  src: url('./assets/fonts/Chor-j9M37.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vondalore';
  src: url('./assets/fonts/Vondalore-Jp6Kn.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ItRoughlin';
  src: url('./assets/fonts/ItRoughlinDemoRegular-7OLqD.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mashiro';
  src: url('./assets/fonts/MashiroDemoRegular-V4jyw.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'ItRoughlin';
  src: url('./assets/fonts/ItRoughlinDemoItalic-wo4Z9.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}



@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "Poppins", sans-serif;
  --font-chor: 'Chor', sans-serif;
  --font-mashiro: 'mashiro', sans-serif;
  --font-vondalore: 'Vondalore', serif;
  --font-roughlin: 'ItRoughlin', serif;
  --font-pixel: "Pixelify Sans", cursive;
  --font-mona: "Mona Sans", sans-serif;
}

body {
  background: rgba(0, 0, 0, 0.986);
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  font-family: var(--font-sans);
  scrollbar-width: thin;
  scrollbar-color: rgb(255, 1, 255) #3f0f72b4;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.large {
  font-size: 1.5rem;
}

.logo {
  filter: contrast(120%) saturate(100%) drop-shadow(0px 0px 10px rgba(173, 33, 15, 0.199)) hue-rotate(270deg);
  transform: scaleX(-1) scale(2.5) rotate(-13deg);
}



.line {
  border-right: 1px solid white;
}

.navbar {
  position: fixed;
  background: linear-gradient(to right, rgba(128, 17, 231, 0.918), #691470, rgba(85, 1, 78, 0.733));
  top: 30px;
  width: 85%;
  transition: 0.4s ease;
  transition: 0.4s ease;
  border-bottom: 2px solid transparent;
  left: 50%;
  translate: -50% 0;
  border-radius: 10px;
}



.xxl {
  font-size: 2.3rem;
  color: transparent;
  color: black;
  background-size: 110%;
  background-position: bottom;
  font-family: "mashiro", sans-serif;
  filter: contrast(1150%) brightness(0);
}

.enlace {
  font-family: "Pixelify Sans", sans-serif;
  position: relative;
  transition: 0.3s ease;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
  display: inline-block;
  font-weight: 1000;
}

.enlace:hover {
  color: rgb(255, 0, 242);
}

.enlace::before {
  content: "";
  background-image: url('assets/videos/fireList.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
  transition: 0.5s ease;
  pointer-events: none;
  filter: contrast(200%) hue-rotate(280deg);
}

.enlace:hover::before {
  opacity: 1;
  transform: translate(-50%, 5px);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}



.eventHero {
  background: url(../src/assets/videos/eventWallpaper.gif);
  background-size: cover;
  position: relative;
}

.eventHero::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(59, 0, 87, 0.795);
}


.liquid {
  background: url(assets/videos/liquid2.gif);
  background-clip: text;
  color: transparent;
  background-position: center;
  background-size: 20%;
  text-shadow: 0px 0px 0px rgba(195, 0, 255, 0.514);
}


.zigzagbt {
  clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 100%,
      95% 90%,
      90% 100%,
      85% 90%,
      80% 100%,
      75% 90%,
      70% 100%,
      65% 90%,
      60% 100%,
      55% 90%,
      50% 100%,
      45% 90%,
      40% 100%,
      35% 90%,
      30% 100%,
      25% 90%,
      20% 100%,
      15% 90%,
      10% 100%,
      5% 90%,
      0% 100%);
}

.zigzagup {
  clip-path: polygon(
      0% 0%,
      5% 10%,
      10% 0%,
      15% 10%,
      20% 0%,
      25% 10%,
      30% 0%,
      35% 10%,
      40% 0%,
      45% 10%,
      50% 0%,
      55% 10%,
      60% 0%,
      65% 10%,
      70% 0%,
      75% 10%,
      80% 0%,
      85% 10%,
      90% 0%,
      95% 10%,
      100% 0%,
      100% 100%,
      0% 100%);
}

@keyframes despauntar {
  from {
    width: 100%;
    opacity: 1;
  } to {
    width: 0%;
    opacity: 0;
  }
}